extends ../layout/common.pug

block content

    h1.display-1 Users
    ul.list-group
        each user in users
            li.list-group-item
                span= user.name
                span &nbsp;
                a(href="/users/view/" + user.id) View
                span &nbsp;
                a(href="/users/delete/" + user.id, style="color: red") Delete
                span &nbsp;
                a(href="/users/edit/" + user.id, style="color: green") Edit
    nav(aria-label='Page navigation example')
    ul.pagination
        li.page-item
        if page != 1
            a.page-link(href='/users?page='+ (page-1)) Previous
        if page < 3
            li.page-item
            a.page-link(href='/users?page='+ page)=page
            li.page-item
            a.page-link(href='/users?page='+ (page+1))=page+1
            li.page-item
            a.page-link(href='/users?page='+ (page+2))=page+2
            li.page-item
            a.page-link(href='/users?page='+ (page+1)) Next

    p.pt-2
        a.btn.btn-primary(href="/users/add") Add user
        span &nbsp;
        a.btn.btn-primary(href="/") Back
