extends ../layout/common.pug

block content
    p
        span Name:
        span &nbsp;
        span= user.name
    p
        span Age:
        span &nbsp;
        span= user.age
    p
        span Mail:
        span &nbsp;
        span= user.mail
    p
        span Job:
        span &nbsp;
        span= user.job
    p   
        span Avatar:
        span &nbsp;
        if user.avatar
            span    
             img(src="http://localhost:3000/" + user.avatar, style="width: 30px")